body {
  color: #1C140D;
}

.logo {
  color: #5bb75b;
}

.hash {
  color: #1C140D;
  font-family: Inconsolata;
  text-align: center;
}

.ruler {
  color: #F2E9E1;
  font-family: Inconsolata;
  text-align: center;
}

.bookmark {
  position: absolute;
  top: 60px;
  left: 20px;
}

.bookmark label {
  font-family: 'Gochi Hand';
  font-size: 26px;
}

footer {
  font-family: Inconsolata;
  position: fixed;
  font-size: 16px;
  bottom: 20px;
  right: 20px;
  border-top: none !important;
}
