#hash {
  font-family: Inconsolata;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 25%;
  left: 0px;
}

#hash .result { font-size: 24px }

#bookmark {
  position: absolute;
  top: 60px;
  left: 20px;
}

#bookmark p {
  font-family: 'Gochi Hand';
  font-size: 26px;
}

footer {
  font-family: Inconsolata;
  position: fixed;
  font-size: 16px;
  bottom: 20px;
  right: 20px;
  border-top: none !important;
}

.hashform {
  width: 405px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

label { width: 60px !important }
form .input { margin-left: 80px !important }

#encrypt { float: right; margin-right: 5px; }
