#hash {
  font-family: Inconsolata;
  position: absolute;
  bottom: 25%;
  left: 23%;
}

#hash .ruler {
  margin-left: 2px;
  color: #d0d0d0;
  font-size: 16px;
  line-height: 8px;
  letter-spacing: 4px;
}

#hash .result { font-size: 24px }

#bookmark {
  position: absolute;
  top: 60px;
  left: 20px;
}

#bookmark p {
  font-family: Inconsolata;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 26px;
}

.hashform {
  width: 405px;
  position: absolute;
  top: 20%;
  left: 35%;
}

label { width: 60px !important }
form .input { margin-left: 80px !important }

#encrypt { float: right; margin-right: 5px; }
