<!DOCTYPE html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-controller="JPasswordManager">
    <div class="container">
      <h1 class="logo">JPasswordManager</h1>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-2 control-label">Bookmarklet</label>
          <div class="col-lg-3">
            <a class="btn btn-primary btn-sm" href="javascript:var s = document.createElement('script');s.type='text/javascript';document.body.appendChild(s);s.src='https://raw.github.com/goatslacker/hash/9246b69d871d1b911aea66d494314802ba82abad/build/bookmarklet.js';void(0);">Generate Password</a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Hostname</label>
          <div class="col-lg-3">
            <input type="text" class="form-control" name="publicKey" ng-model="publicKey" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Secret Phrase</label>
          <div class="col-lg-3">
            <input type="password" name="privateKey" class="form-control" ng-model="privateKey" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Iterations</label>
          <div class="col-lg-3">
            <input type="number" name="iterations" class="form-control" ng-model="iterations" />
          </div>
        </div>
        <button class="btn btn-success" ng-click="doHash()">Get Key</button>
        <button class="btn" ng-click="clearHash()">Clear</button>
      </form>
      <h2 class="hash">{{hashText}}</h2>
      <h2 class="ruler ng-cloak" ng-hide="hashText.length == 0">||||5||||0||||5||||0||||5||||0||</h2>
    </div>
  </body>
  <script type="application/javascript" src="build/hash.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27434498-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</html>
